p{
	position: relative;
	left:550px;
	font-size:100px;
}
div{
	position:relative;
	left:520px;
	width:200px;
	height:50px;
	font-size:100px;
}

body{
	background-image:url("http://pre03.deviantart.net/1496/th/pre/f/2015/204/2/4/father_time_by_jarow-d47rhah.jpg");
	background-repeat:repeat-y ;
	background-position:center;
}

getTime{
visibility:hidden;
}